/*幻灯片的布局控制容器*/
.slide-javascript-control{
	width: 100%;
	height:auto;
	position: relative;
	overflow: hidden;
	/* border:1px solid #ff0000; */
}

.slide-javascript-control .slider-item{/*幻灯片的容器*/
	height: 313px;
	/* border:1px solid #ff0000; */
}

.slide-javascript-control .tag {
	width: 81px;
	height: 81px;
	background: url(../images/top-stories-tag.png) 0 0 no-repeat;
	position: absolute;
	z-index: 1;
}

.slide-javascript-control .rounded-corners {
	width: 900px;
	height: 3px;
	background: url(../images/homepage-slider-rounded-corners.png) 0 0 no-repeat;
	position: absolute;
	z-index: 2;
}

.slide-javascript-control .btn-previous {
	width: 56px; 
	height: 350px;
	left:0px;
	/* border:1px solid #ff0000; */ 
	position: absolute;
	z-index: 100;
}
.slide-javascript-control .btn-next {
	width: 56px; 
	height: 350px;
	right:0px;
	/* border:1px solid #ff0000; */ 
	position: absolute;   
	z-index: 100;
}

.slide-javascript-control .btn-previous:hover {
	background: url(../images/homepage-slider-btn-previous-bg.png) top left no-repeat;
}
.slide-javascript-control .btn-next:hover {
	background: url(../images/homepage-slider-btn-next-bg.png) center right no-repeat;
}

.slide-javascript-control .slider-item img{
	position: absolute;
	z-index:1;
}

/*幻灯片下方的黑色透明背景图*/
.slide-javascript-control .slider-item .background {
	width: 100%;
	bottom:0px;
	height: 83px;
	background: url(../images/top-stories-info-bg.png) 0 0 repeat-x;
	position: absolute;
	z-index: 2;
}


.slide-javascript-control .slider-item .background .title{
	width: 80%;
	height: 70px;
	margin:0px auto;
	color: #fff;
	height:40px;
	line-height:40px;
	text-decoration: none;
	display: block;
	cursor:pointer;
}

.slide-javascript-control .slider-item .background .title:hover{
	color: #00c6ff;
	text-decoration: underline;
}


.slide-javascript-control .slider-item .background .description {
	width: 80%;
	height: 18px;
	color: #ffffff;
	margin:0px auto;
	font-size: 12px;
	font-style: normal;
	margin-bottom: 5px;
	display: block;
	overflow: hidden;
}

/*幻灯片导航栏的底部的阴影部分的内容*/
.slide-javascript-control .image-shadow {
	width: 900px;
	height: 9px;
	background: url(../images/image-shadow-5.png) center 1px no-repeat;
}

/*幻灯片导航栏的相关内容*/
.slide-javascript-control .navigation {
	padding: 16px 0;
	margin: -9px 0 5px 400px;
	overflow: hidden;
}

.slide-javascript-control .navigation a {
	margin: 0 10px 0 0;
	width: 10px;
	height: 10px;
	background: url(../images/ico-bullet-8.png) 0 0 no-repeat;
	display: block;
	float: left;
}

.slide-javascript-control .navigation a:hover {
	background-position: 0 -10px;
}

.slide-javascript-control .navigation .active {
	background-position: 0 -10px;
}

