@CHARSET "UTF-8";
/*-----------网站基础架构的容器定义----------*/
html{
overflow-y: scroll;
}
html,body{
margin:0px;
padding:0px;
}
#wrap{
width:100%;
height:auto;
}

#allContainer{
width:988px;
height:auto;
margin:0px auto;
}
#header{
	width:100%;
	height:143px;
	overflow:hidden;
	/* border:1px solid #ff0000; */
}
#mainer{
	width:986px;
	height:576px;
	/* border:1px solid #ff0000; */
}
#footer{
	width:100%;
	height:101px;
	overflow:hidden;
	/* border:1px solid #ff0000; */
	/* margin-top:20px; */
	overflow:hidden;
	
}

/*-----------网站header的容器定义----------*/
#headerTop{
	width:100%;
	height:108px;
	background:url(headerTopBg.jpg) repeat-x;
	/* border:1px solid #ff0000; */	
}

#headerNavigation{/*头部导航条*/
	width:100%;
	margin:0px;
	padding:0px;
	height:34px;
	/* border:1px solid #ff0000; */
	float: left;
	overflow:hidden;
}

#headerNavigation li.NavItem{
	width: 131px;
	height: 34px;
	float: left;
	cursor:pointer;
}

#headerLogo {
	margin-left:56px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 108px;
	margin-bottom: 0;
	width: 369px;
	background:url(headerLogo.jpg) no-repeat;
	clear:right;
}


#headerNavLeftBg {/*导航条左侧背景*/
	display: inline;
	float: left;
	height: 34px;
	width: 56px;
	background:url(headerNavLeftBg.jpg) no-repeat;
}
#headerNavRightBg {/*导航条右侧背景*/
	display: inline;
	float: left;
	height: 34px;
	width: 49px;
	background:url(headerNavRightBg.jpg) no-repeat;
}
.headerNavDivideBg {
	display:inline;
	float:  left;
	height: 34px;
	width:	16px;
	background:url(headerNavDivideBg.jpg) no-repeat;
}

#headerIndex {
	display: inline;
	float: left;
	background:url(headerIndex.jpg) no-repeat;
}
#headerAbout {
	display: inline;
	float: left;
	background:url(headerAbout.jpg) no-repeat;
}
#headerProfessionField {
	display: inline;
	float: left;
	background:url(headerProfessionField.jpg) no-repeat;
}

#headerSuccessCase {
	display: inline;
	float: left;
	background:url(headerSuccessCase.jpg) no-repeat
}
#headerEliteTeam {
	display: inline;
	float: left;
	background:url(headerEliteTeam.jpg) no-repeat
}
#headerNews {
	display: inline;
	float: left;
	background:url(headerNews.jpg) no-repeat
}

/*-----------网站footer的容器定义----------*/
#footerTop{
	width:100%;
	height:45px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	font-size:13px;
	line-height:45px;
	background:url(footerTopBg.jpg) repeat-x;
	/* border:1px solid #ff0000; */	
}


#footerBottom{
	width:100%;
	height:46px;
	overflow:hidden;
	line-height:46px;
	font-size:13px;
	color:#737373;
	text-align:center;
	background:url(footerBottomBg.jpg) repeat-x;
	/* border:1px solid #ff0000; */	
}


#footer a{
	text-decoration:none;
}
#footer a:hover{
	text-decoration:underline;
}


#footerTop li.Item{
	display:inline;
	float: left;
	padding:0px 10px;
	cursor:pointer;
}

#footerTop li.Item a{
	color:#255EC5;
}
#footerTop li.Item a:hover{
	color:#ff0000;
}

#footerBottom a.beian{
	color:#737373;
}
#footerBottom a.beian:hover{
	color:#ff0000;
}




