ul.article-category-breadcrumb{
	width:700px;
	height:30px;
	margin:15px 0px 0px 10px;
	padding:0px;
	border-bottom:2px solid #B80000;
	
}

ul.article-category-breadcrumb li{
	float:left;
	line-height:30px;
	font-size:14px;
	height:30px;
	margin:0px;
	padding:0px;
	color:#636363;
}

ul.article-category-breadcrumb li a{
	color:#636363;
}