.EqualArticleColumn{/*栏目页的两个相关的栏目*/
	width:373px;
	height:230px;
	margin:0px auto;
	background:#EBEEF5;
	/* border:1px solid #ff0000; */	
}
.article-column-ul{/*在栏目页存放文章标题的无序列表*/
	margin:0px auto;
	width:96%;
}
.article-column-ul li{
	
	text-indent:30px;
}
.article-column-ul li a{
	color:#333335;
	font-size:12px;
	height:20px;
	line-height:20px;
}
.article-column-ul li a:hover{
	color:#ff0000;
}
.article-column-ul li.ArticleCategoryName{/*文章栏目的标题*/
	width:100%;
	height:36px;
	margin:0px 0px 5px 0px;
	line-height:36px;
	font-size:16px;
	list-style:none;
	text-indent:20px;
	float:left;
	border-bottom:1px solid #909EB9;
}
.article-column-ul li span.date{
	font-size:12px;
	height:20px;
	line-height:20px;
	float:right;
}